.add-balance-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 200vh;
    padding: 20px;
    box-sizing: border-box;

}

.add-balance-input-row {
    display: flex;
    gap: 5px;
}
