/* AddBalance.css */

/* Ana konteyner: ekran ortasında konumlandırma, tam yükseklik */
.add-balance-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    max-height: 100vh;
    padding: 20px;
    box-sizing: border-box;

}

/* Yan yana yer alacak iki alan (ay/yıl gibi) */
.add-balance-input-row {
    display: flex;
    gap: 5px;
}
