.home-container {
  height: 50px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.home-title {
  font-size: 46px;
  margin-bottom: 20px;
  color: #00d4d4;
}

.home-description {
  font-size: 28px;
  margin-bottom: 20px;
  color: white;
}

.features-list li {
  font-size: 24px;
  color: #00d4d4;
  text-align: left;
}

.auth-buttons {
  display: flex;
  justify-content: center;
  gap: 135px;
  margin-top: 20px;
}