
.restaurant-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.restaurant-item {
    margin: 0;
}

.restaurant-item button {
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
    text-transform: uppercase;
}

restaurant-icon-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}


.restaurant-icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}
